body {
    font-family: 'Montserrat';
    font-weight: 300;
}

a{
    text-decoration: none;
    color: black;
}

.rectangle-box1{
    position: absolute;
    width: 100vw;
    height: 15vh;
    top: 0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    z-index: 1;
}
 
.rectangle-box2{
    position: absolute;
    transform-origin: left top;
    top:100%;
    left: 0;
    width: 100vw;
    height: 15vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(-90deg);
    z-index: -1;
}

.rectangle-box3{
    position: absolute;
    transform-origin: right top;
    top:100%;
    right: 0;
    width: 100vw;
    height: 15vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(90deg);
    z-index: 2;
}

.rectangle-box4{
    position: fixed;
    width: 100vw;
    height: 15vh;
    bottom:0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    z-index: 2;
}

.rectangle-content{
    position: absolute;
    bottom: 0;
    font-size: 500%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

.rectangle-content1{
    position: absolute;
    top: 0;
    font-size: 500%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

#layer2{
    scale: 0.5, 0.5
}

.rectangle-box5{
    position: absolute;
    width: 100vw;
    height: 27vh;
    top: 0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    scale: 0.8;
    z-index: -2;
}

.rectangle-box6{
    position: absolute;
    transform-origin: left top;
    top:100%;
    left: 0;
    width: 100vw;
    height: 25vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(-90deg);
    z-index: -2;
}

.rectangle-box7{
    position: absolute;
    transform-origin: right top;
    top:100%;
    right: 0;
    width: 100vw;
    height: 25vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(90deg);
    z-index: -2;
}

.rectangle-box8{
    position: fixed;
    width: 100vw;
    height: 26vh;
    bottom:0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    z-index: -2;
}

.rectangle-content2{
    position: absolute;
    bottom: 0;
    font-size: 250%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

.rectangle-content21{
    position: absolute;
    top: 0;
    font-size: 250%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

.rectangle-box9{
    position: absolute;
    width: 100vw;
    height: 33vh;
    top: 0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    scale: 0.8;
    z-index: -3;
}

.rectangle-box10{
    position: absolute;
    transform-origin: left top;
    top:100%;
    left: 0;
    width: 100vw;
    height: 31vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(-90deg);
    z-index: -3;
}

.rectangle-box11{
    position: absolute;
    transform-origin: right top;
    top:100%;
    right: 0;
    width: 100vw;
    height: 31vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(90deg);
    z-index: -3;
}

.rectangle-box12{
    position: fixed;
    width: 100vw;
    height: 32vh;
    bottom:0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    z-index: -3;
}

.rectangle-content3{
    position: absolute;
    bottom: 0;
    font-size: 170%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

.rectangle-content31{
    position: absolute;
    top: 0;
    font-size: 150%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

.rectangle-box13{
    position: absolute;
    width: 100vw;
    height: 38vh;
    top: 0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    scale: 0.8;
    z-index: -4;
}

.rectangle-box14{
    position: absolute;
    transform-origin: left top;
    top:100%;
    left: 0;
    width: 100vw;
    height: 36vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(-90deg);
    z-index: -4;
}

.rectangle-box15{
    position: absolute;
    transform-origin: right top;
    top:100%;
    right: 0;
    width: 100vw;
    height: 36vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(90deg);
    z-index: -4;
}

.rectangle-box16{
    position: fixed;
    width: 100vw;
    height: 37vh;
    bottom:0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    z-index: -4;
}

.rectangle-content4{
    position: absolute;
    bottom: 0;
    font-size: 125%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

.rectangle-content41{
    position: absolute;
    top: 0;
    font-size: 110%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

.rectangle-box17{
    position: absolute;
    width: 100vw;
    height: 42vh;
    top: 0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    scale: 0.8;
    z-index: -5;
}

.rectangle-box18{
    position: absolute;
    transform-origin: left top;
    top:100%;
    left: 0;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(-90deg);
    z-index: -5;
}

.rectangle-box19{
    position: absolute;
    transform-origin: right top;
    top:100%;
    right: 0;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(90deg);
    z-index: -5;
}

.rectangle-box20{
    position: fixed;
    width: 100vw;
    height: 41vh;
    bottom:0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    z-index: -5;
}

.rectangle-content5{
    position: absolute;
    bottom: 0;
    font-size: 110%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

.rectangle-content51{
    position: absolute;
    top: 0;
    font-size: 95%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

.rectangle-box21{
    position: absolute;
    width: 100vw;
    height: 45vh;
    top: 0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    scale: 0.8;
    z-index: -6;
}

.rectangle-box22{
    position: absolute;
    transform-origin: left top;
    top:100%;
    left: 0;
    width: 100vw;
    height: 43vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(-90deg);
    z-index: -6;
}

.rectangle-box23{
    position: absolute;
    transform-origin: right top;
    top:100%;
    right: 0;
    width: 100vw;
    height: 43vh;
    overflow: hidden;
    background: white;
    border: 5px black solid;
    transform: rotate(90deg);
    z-index: -6;
}

.rectangle-box24{
    position: fixed;
    width: 100vw;
    height: 44vh;
    bottom:0;
    right:0; 
    overflow: hidden;
    background: white;
    border: 5px black solid;
    z-index: -6;
}

.rectangle-content6{
    position: absolute;
    bottom: 0;
    font-size: 90%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

.rectangle-content61{
    position: absolute;
    top: 0;
    font-size: 80%;
    text-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: black;
}

.right:hover, .left:hover {
    animation-play-state: paused;
  }

.right{
    width: 10000vw;
    position: relative;
    animation: lefttextscroll infinite 60s linear;
  }

.left{
    width: 10000vw;
    position: relative;
    animation: righttextscroll infinite 60s linear;
  }

  @keyframes lefttextscroll {
    from{left: 0vw;}
    to{left: -734.5vw}
  }

  @keyframes righttextscroll {
    from{left: -734.5vw;}
    to{left: 0;}
  }